<div class="container login-form">
  <h1>Вход</h1>
  <div class="form-group">
    <label for="username">Потребителско име:</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="userDto.username"
      id="username"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Парола:</label>
    <input
      type="password"
      class="form-control"
      [(ngModel)]="userDto.password"
      id="password"
      required
    />
  </div>
  <div class="btn-wrapper">
    <button
      (click)="onSubmit()"
      class="btn btn-success"
      [disabled]="!isFormValid()"
    >
      Потвърди
    </button>
  </div>
  <div class="registration">
    <p>
      Ако все още нямате регистрация, може да го направите
      <a class="registration-link" routerLink="/registration" href="">тук</a>
    </p>
  </div>
</div>
