<nav class="navbar navbar-expand-sm navbar-light fixed-top">
  <div class="buttons d-flex justify-content-end">
    <div class="ml-auto p-2 nav-bar-left">
      <button routerLink="/login" class="btn" type="button">Имоти</button>
      <button
        *ngIf="userService.currentUser != null"
        routerLink="/login"
        class="btn"
        type="button"
      >
        Огледи
      </button>
      <button routerLink="/login" class="btn" type="button">Справка</button>
    </div>
    <div class="ml-auto p-2 nav-bar-right">
      <button
        *ngIf="userService.currentUser == null"
        routerLink="/login"
        class="btn btn-outline-success"
        type="button"
      >
        Вход
      </button>
      <button
        *ngIf="userService.currentUser == null"
        routerLink="/registration"
        class="btn btn-outline-primary"
        type="button"
      >
        Регистриране
      </button>
    </div>
  </div>
  <div class="navbar-collapse justify-content-end">
    <button
      *ngIf="userService.currentUser != null"
      (click)="logout()"
      class="btn-logout btn btn-danger btn-center-text"
      id="btn"
    >
      Изход
    </button>
  </div>
</nav>
